<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="zeroprimitives-local" value="../../ZeroPlatform/ZeroPrimitives/dist/packages" />
    <add key="zeroreports-local" value="../../ZeroPlatform/ZeroReports/dist/packages" />
    <add key="zeroui-local" value="../../ZeroPlatform/ZeroUI/dist/packages" />
    <add key="zerographics-local" value="../../ZeroPlatform/ZeroGraphics/dist/packages" />
  </packageSources>
</configuration>
